<h1><%= @task.name %></h1>
<h3><%= @task.details %></h3>

<input type="checkbox" name="task" <%= if @task.completed then "checked" end %>>
<label for="task"><%= @task.completed ? "This task is complete" : "This task is not complete" %></label>
<br><%= link_to 'Menu', tasks_path %>
